server {
    listen 80;
    server_name app;

    location / {
        add_header X-Default-Server true always;
        add_header X-Upstream-Server app.dev.domain.com always;
        return 204;
    }
}