server {
    listen 80;
    server_name default;

    location / {
        add_header X-Default-Server true always;
        add_header X-Upstream-Server {{ default }}{{ env }}.domain.com always;
        return 204;
    }
}