server {
    listen 80;
    server_name failover;

    location / {
        add_header X-Default-Server false always;
        add_header X-Upstream-Server failover{{ env }}.domain.com always;
        return 204;
    }
}